@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500&display=swap');

body {
	font-family: 'Instrument Sans', sans-serif;
}

h1 {
	border-bottom: 3px solid black;
}

.todo-container {
	display: flex;
	/* margin: 0 auto; */
	/* justify-content: space-between; */
}

.todo-dates {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-right: 200px;
	border-right: 3px solid black;
}

.todo-dates li {
	border: 1px solid transparent;
}

.todo-container--right {
	display: flex;
	flex-direction: column;
}

.todo-container--right td {
	padding: 0 15px;
}

body ul {
	list-style-type: none;
}
.todo-dates li:hover {
	cursor: pointer;
	border-bottom: 1px solid black;
}

.new-todo {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
