@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500&display=swap');

* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Instrument Sans', sans-serif;
	padding: 20px;
}

h1 {
	border-bottom: 3px solid black;
}

.todo-container {
	display: flex;
	/* padding: 50px 100px; */
}

.todo-container--left {
	height: 100%;
	border-right: 3px solid black;
}

.todo-dates {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-right: 200px;
}

.todo-dates li {
	border: 1px solid transparent;
}

.todo-container--right {
	margin-left: 400px;
	display: flex;
	flex-direction: column;
}

.todo-container--right td {
	padding: 0 15px;
}

body ul {
	list-style-type: none;
}
.todo-dates li:hover {
	cursor: pointer;
	transform: translateX(3px);
}

.new-todo {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.strike-out {
	text-decoration: line-through;
}

#new-project-btn {
	display: flex;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: white;
}

#new-project-name {
	width: 200px;
	margin-left: 30px;
}

#new-project-btn:hover {
	transform: translateX(3px);
}

.hidden {
	display: none;
}
